.tbody {
    width: 640px;
    height: 480px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

.trow {
    clear: left;
    border: 1px dotted gray;
}

.tcell {
    float: left;
    width: 25%;
    padding: 10px;
    margin: 5px;
}

#hname {
    font-style: italic;
    background-color: rgb(238, 180, 180);
}

#hsite {
    font-style: italic;
    background-color: rgb(158, 240, 158);
}

#hcode {
    font-style: italic;
    background-color: rgb(116, 116, 235);
}